### IntelliJ IDEA ###
out/
!**/src/Testing/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/Testing/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### OTHER ###
src/physicalCards/CardMaker_1.4.0.0/
src/physicalCards/PdfConstruct_0.0.0.5/